{% extends 'index.html' %}
{%block index%}
<h1 class="bg-dark text-light">HOME</h1>
<!-- <nav class="navbar navbar-expand-sm bg-info">
  <ul class="navbar-nav">
    <li class="nav-item"><a href="{% url 'reg' %}" class="nav-link text-light">Employee Registration</a></li>
    <li class="nav-item"></li><a href="{% url 'vemp' %}" class="nav-link text-light">Employees</a></li>
    <li class="nav-item"></li><a href="{% url 'dept' %}" class="nav-link text-light">Add Department</a></li>
    <li class="nav-item"></li><a href="{% url 'deptview' %}" class="nav-link text-light">View Department</a></li>
    <li class="nav-item"></li><a href="{% url 'addman' %}" class="nav-link text-light">AddManager</a></li>
    <li class="nav-item"></li><a href="{% url 'viewman' %}" class="nav-link text-light">View Manager</a></li>
  </ul>
</nav> -->
{%endblock index%}